body {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 300;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background-color: black;
  color: white;
}

.currentlyFocused {
  background-color: #EEFFEE;
  display: inline-block;
  width: 80%;
}

li {
  padding: 3px;
}

ul {
  padding-left: 15px;
  list-style-position: inside;
}

textarea {
  border: none;
  font-family: monospace;
  font-size: 12px;
  padding: 0 0;
  width: 80%
}

code {
  background-color: #DDDDEE;
  padding: 3px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

input {
  border: none;
  font-family: monospace;
  font-size: 12px;
  padding: 0 0;
  width: 80%
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: solid 1px silver;
  height: 400px;
  padding: 10px;
}

.text {
  height: 200px;
  width: 290px;
  margin-left: 10px;
  margin-top: 10px;
  overflow-x: none;
  overflow-y: none;
  position: absolute;
}

.up-down-option {
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: solid 1px silver;
  text-align: center;
}

.up-down-option-none {
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
  width: 300px;
  height: 50px;
  margin-bottom: 11px;
  margin-top: 11px;
  text-align: center;
}

.left-option {
  float: left;
  padding: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 150px;
  border: solid 1px silver;
  text-align: center;
}

.left-option-none {
  float: left;
  padding: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 150px;
  text-align: center;
}

.right-option {
  float: right;
  padding: 10px;
  padding-top: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 150px;
  border: solid 1px silver;
  text-align: center;
}

.right-option-none {
  float: right;
  padding: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 150px;
  text-align: center;
}

img {
  width: 280px;
}
